@import "tailwindcss";

@theme {
  --breakpoint-3xl: 113rem;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .container {
    @apply w-[95%] mx-auto sm:max-w-152.5 md:max-w-182.5 lg:max-w-247.5 xl:max-w-300 2xl:max-w-340 3xl:max-w-380;
  }
}
